<h5 class="pl-5">[1] gsap.to() Demo -</h5>
<div class="mt-4 pl-5">  
  <div #blueBox class="w-20 h-20 bg-blue-500 rounded-lg">
  </div>
</div>

<h5 class="mt-5 pl-5">[2] gsap.from() Demo -</h5>
<div class="mt-4 pl-5">  
  <div #greenBox class="w-20 h-20 bg-green-500 rounded-lg">
  </div>
</div>

<h5 class="mt-5 pl-5">[3] gsap.fromTo() Demo -</h5>
<div class="mt-4 pl-5">  
  <div #redBox class="w-20 h-20 bg-red-500 rounded-lg">
  </div>
</div>

<h5 class="mt-5 pl-5">[4] gsap.timeline() Demo -</h5>

<div class="pt-2 pl-5">
  <button id="playpause" class="btn btn-primary mr-5" (click)="playPause()">Play/Pause</button>

  <button id="play" class="btn btn-primary mx-2" (click)="play()">Play</button>
  <button id="pause" class="btn btn-primary mx-2" (click)="pause()">Pause</button>
  <button id="resume" class="btn btn-primary mx-2" (click)="resume()">Resume</button>
  <button id="reverse" class="btn btn-primary mx-2" (click)="reverse()">Reverse</button>
  <button id="restart" class="btn btn-primary mx-2" (click)="restart()">Restart</button>
</div>

<div class="mt-4 pl-5">  
  <div #yellowBox class="w-20 h-20 bg-yellow-500 rounded-lg">
  </div>
</div>

<router-outlet />
