<div class="pl-5">
    <h1 id="text" class="opacity-5 translate-y-10">GsapText</h1>

    <p class="mt-2 text-red-500 para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi impedit, quisquam autem fugit asperiores explicabo iusto possimus fuga repellendus atque?
    </p>
    <p class="mt-2 text-red-500 para">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, iste.
    </p>
    <p class="mt-2 text-red-500 para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit consectetur quod rerum quae culpa iusto!
    </p>
</div>
